div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Text31 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text31 div
{
   text-align: left;
}
#wb_Text32 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text32 div
{
   text-align: left;
}
#wb_Text33 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text33 div
{
   text-align: left;
}
#wb_Text34 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text34 div
{
   text-align: left;
}
#wb_Text31
{
   position: absolute;
   left: 17px;
   top: 16px;
   width: 593px;
   height: 22px;
   z-index: 0;
   text-align: left;
}
#wb_Text32
{
   position: absolute;
   left: 158px;
   top: 492px;
   width: 554px;
   height: 22px;
   visibility: hidden;
   z-index: 1;
   text-align: left;
}
#wb_Text33
{
   position: absolute;
   left: 285px;
   top: 962px;
   width: 554px;
   height: 22px;
   visibility: hidden;
   z-index: 2;
   text-align: left;
}
#wb_Text34
{
   position: absolute;
   left: 38px;
   top: 973px;
   width: 250px;
   height: 16px;
   visibility: hidden;
   z-index: 3;
   text-align: left;
}
@media only screen and (max-width: 768px)
{
div#container
{
   width: 768px;
}
#wb_Text31
{
   left: 10px;
   top: 496px;
   width: 554px;
   height: 22px;
   visibility: hidden;
   display: none;
}
#wb_Text32
{
   left: 9px;
   top: 10px;
   width: 609px;
   height: 22px;
   visibility: visible;
   display: inline;
}
#wb_Text33
{
   left: 20px;
   top: 945px;
   width: 304px;
   height: 22px;
   visibility: hidden;
   display: none;
}
#wb_Text34
{
   left: 81px;
   top: 970px;
   width: 169px;
   height: 22px;
   visibility: hidden;
   display: none;
}
}
@media only screen and (max-width: 320px)
{
div#container
{
   width: 320px;
}
#wb_Text31
{
   left: 10px;
   top: 496px;
   width: 554px;
   height: 22px;
   visibility: hidden;
   display: none;
}
#wb_Text32
{
   left: 2px;
   top: 481px;
   width: 468px;
   height: 22px;
   visibility: hidden;
   display: none;
}
#wb_Text33
{
   left: 15px;
   top: 7px;
   width: 442px;
   height: 22px;
   visibility: visible;
   display: inline;
}
#wb_Text34
{
   left: 118px;
   top: 31px;
   width: 169px;
   height: 22px;
   visibility: visible;
   display: inline;
}
}
